{% extends "base_generic.html" %}
{% block title %}
	<title>Companies</title>
{% endblock %}
{% block content %}
	
    <h1>Companies</h1>
    <ul>
        {% for company in companies %}
        <li>
            <p><strong>Title:</strong> {{ company.title }}</p>
            <p><strong>Phone:</strong> {{ company.phone }}</p>
            <p><strong>Address:</strong> {{ company.address }}</p>
            <form method="get" action="{% url 'company_detail' company.id %}">
                <button type="submit">View Details</button>
            </form>
        </li>
        {% empty %}
        <li>No companies found.</li>
        {% endfor %}
    </ul>
{% endblock %}

