{% extends "base_generic.html" %}

{% block title %}
    <title>Companies</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Companies</h1>
    <ul class="list-group">
        {% for company in companies %}
            <li class="list-group-item mb-3">
                <p><strong>Owner:</strong> <a href="{% url 'profile_by_id' company.client.user.id %}">{{ company.client.username }}</a></p>
                <p><strong>Title:</strong> {{ company.title }}</p>
                <p><strong>Phone:</strong> {{ company.phone }}</p>
                <p><strong>Address:</strong> {{ company.address.street_name }} {{ company.address.house_number }}, {{ company.address.city }}</p>
                <form method="get" action="{% url 'company_detail' company.id %}" class="d-inline-block">
                    <button type="submit" class="btn btn-primary btn-sm">View Details</button>
                </form>
                {% if company.client.user == request.user or request.user.is_superuser %}
                    <form method="post" action="{% url 'delete_company' company.id %}?next={{ request.path }}" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete Company</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">No companies found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
