{% extends "base_generic.html" %}

{% block title %}
    <title>Equipment Details</title>
{% endblock %}

{% block content %}
    <h1>Equipment Details</h1>
    <p><strong>Title:</strong> {{ equipment.title }}</p>
    <p><strong>Size:</strong> {{ equipment.size }}</p>
    <p><strong>Category:</strong> {{ equipment.category.title }}</p>



    <h2>Reviews:</h2>
    <ul>
        {% for review in reviews %}
            <li>
                <p><strong>Review by:</strong> <a href="{% url 'profile' review.client.user.id %}">{{ review.client.username }}</a></p>
                <p>{{ review.text }} - Rating: {{ review.rating }}</p>
            </li>
        {% empty %}
            <li>No reviews yet.</li>
        {% endfor %}
    </ul>

    <h2>Write a Review:</h2>
    <form method="post" action="{% url 'equipment_view' equipment.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Review</button>
    </form>


    <h2>Add Equipment to Company:</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endif %}
    <form method="post" action="{% url 'add_equipment_to_company' equipment.id %}">
        {% csrf_token %}
        <label for="company_id">Select Company:</label>
        <select name="company_id" id="company_id">
            {% for company in companies %}
                <option value="{{ company.id }}">{{ company.title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add to Company</button>
    </form>

    {% if equipment.client.user == request.user %}
        <h2>Delete Equipment:</h2>
        
        <form method="post" action="{% url 'delete_equipment' equipment.id %}">
            {% csrf_token %}
            <button type="submit">Delete Equipment</button>
        </form>
    {% endif %}
{% endblock %}
